NXMobileHandsOn/NXMobileHandsOn/Connected Services/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SSJKK.NX.SystemCommon.CM.WebService" />
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SSJKK.NX.SystemCommon.CM.WebService" minOccurs="0" name="param" nillable="true" type="q1:NLC00100SIParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SSJKK.NX.SystemCommon.CM.WebService" minOccurs="0" name="LogInResult" nillable="true" type="q2:NLC00100SIParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SSJKK.NX.SystemCommon.CM.WebService" minOccurs="0" name="param" nillable="true" type="q3:NLC00100SIParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SSJKK.NX.SystemCommon.CM.WebService" minOccurs="0" name="LogOutResult" nillable="true" type="q4:NLC00100SIParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoreKaiData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SSJKK.NX.SystemCommon.CM.WebService" minOccurs="0" name="param" nillable="true" type="q5:NLC00100SICoreKaiData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoreKaiDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SSJKK.NX.SystemCommon.CM.WebService" minOccurs="0" name="GetCoreKaiDataResult" nillable="true" type="q6:NLC00100SICoreKaiData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SSJKK.NX.SystemCommon.CM.WebService" minOccurs="0" name="param" nillable="true" type="q7:NLC00100SIParamV2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SSJKK.NX.SystemCommon.CM.WebService" minOccurs="0" name="LogInV2Result" nillable="true" type="q8:NLC00100SIParamV2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Dummy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SSJKK.NX.SystemCommon.CM.WebService" minOccurs="0" name="param" nillable="true" type="q9:NLC00100SIParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DummyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SSJKK.NX.SystemCommon.CM.WebService" minOccurs="0" name="DummyResult" nillable="true" type="q10:NLC00100SIParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>