NXMobileHandsOn/NXMobileHandsOn/Connected Services/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NLC00100SI" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_INLC00100SI_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SSJKK.NX.SystemCommon.CM.WebService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SSJKK.NX.Framework.WebService.Common" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SSJKK.NX.Framework.Utility" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INLC00100SI_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="INLC00100SI_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="INLC00100SI_LogOut_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="INLC00100SI_LogOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOutResponse" />
  </wsdl:message>
  <wsdl:message name="INLC00100SI_GetCoreKaiData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCoreKaiData" />
  </wsdl:message>
  <wsdl:message name="INLC00100SI_GetCoreKaiData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoreKaiDataResponse" />
  </wsdl:message>
  <wsdl:message name="INLC00100SI_LogInV2_InputMessage">
    <wsdl:part name="parameters" element="tns:LogInV2" />
  </wsdl:message>
  <wsdl:message name="INLC00100SI_LogInV2_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInV2Response" />
  </wsdl:message>
  <wsdl:message name="INLC00100SI_Dummy_InputMessage">
    <wsdl:part name="parameters" element="tns:Dummy" />
  </wsdl:message>
  <wsdl:message name="INLC00100SI_Dummy_OutputMessage">
    <wsdl:part name="parameters" element="tns:DummyResponse" />
  </wsdl:message>
  <wsdl:portType name="INLC00100SI">
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/INLC00100SI/LogIn" message="tns:INLC00100SI_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INLC00100SI/LogInResponse" message="tns:INLC00100SI_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input wsaw:Action="http://tempuri.org/INLC00100SI/LogOut" message="tns:INLC00100SI_LogOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INLC00100SI/LogOutResponse" message="tns:INLC00100SI_LogOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCoreKaiData">
      <wsdl:input wsaw:Action="http://tempuri.org/INLC00100SI/GetCoreKaiData" message="tns:INLC00100SI_GetCoreKaiData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INLC00100SI/GetCoreKaiDataResponse" message="tns:INLC00100SI_GetCoreKaiData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogInV2">
      <wsdl:input wsaw:Action="http://tempuri.org/INLC00100SI/LogInV2" message="tns:INLC00100SI_LogInV2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INLC00100SI/LogInV2Response" message="tns:INLC00100SI_LogInV2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Dummy">
      <wsdl:input wsaw:Action="http://tempuri.org/INLC00100SI/Dummy" message="tns:INLC00100SI_Dummy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INLC00100SI/DummyResponse" message="tns:INLC00100SI_Dummy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INLC00100SI" type="tns:INLC00100SI">
    <wsp:PolicyReference URI="#BasicHttpBinding_INLC00100SI_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/INLC00100SI/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap:operation soapAction="http://tempuri.org/INLC00100SI/LogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCoreKaiData">
      <soap:operation soapAction="http://tempuri.org/INLC00100SI/GetCoreKaiData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogInV2">
      <soap:operation soapAction="http://tempuri.org/INLC00100SI/LogInV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dummy">
      <soap:operation soapAction="http://tempuri.org/INLC00100SI/Dummy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NLC00100SI">
    <wsdl:port name="BasicHttpBinding_INLC00100SI" binding="tns:BasicHttpBinding_INLC00100SI">
      <soap:address location="https://nxcloud-0-nxv2-b/SuperStreamNX/SC/NLC00100SI.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>