NXMobileHandsOn/NXMobileHandsOn/Connected Services/ServiceReference/SSJKK.NX.Framework.WebService.Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SSJKK.NX.Framework.WebService.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SSJKK.NX.Framework.WebService.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NXParameterBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="AsyncFlg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AsyncKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KaiCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PollingKbn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultStatus" type="xs:int" />
      <xs:element minOccurs="0" name="UsrID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clientMessageList" nillable="true" type="tns:ArrayOfNXClientMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NXParameterBase" nillable="true" type="tns:NXParameterBase" />
  <xs:complexType name="ArrayOfNXClientMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NXClientMessage" nillable="true" type="tns:NXClientMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNXClientMessage" nillable="true" type="tns:ArrayOfNXClientMessage" />
  <xs:complexType name="NXClientMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColumnName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KeyData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NXClientMessage" nillable="true" type="tns:NXClientMessage" />
  <xs:complexType name="NXParameterBaseV2">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NXParameterBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="EtherNet" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NXParameterBaseV2" nillable="true" type="tns:NXParameterBaseV2" />
</xs:schema>