NXMobileHandsOn/NXMobileHandsOn/Connected Services/ServiceReference/SSJKK.NX.Framework.Utility.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SSJKK.NX.Framework.Utility" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SSJKK.NX.Framework.Utility" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NXAuthenticationKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="HeaderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeaderNameSpace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="programID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NXAuthenticationKey" nillable="true" type="tns:NXAuthenticationKey" />
</xs:schema>